.App {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}


.fill {
  flex: 1 1
}

.fit {
  flex: 0 1
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
}